{% extends '/admin/base.html' %}

{% block main %}
{% from '/admin/macros.html' import brief_row %} 
<div class="row">
    <div class="col-sm-1"><h4>Posts</h4></div>
    <div class="col-sm-2">
        <button id="new-post-btn" class="btn btn-primary">Create New</button>
    </div>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th class="checkbox-col">
                <input id="group-cb" type="checkbox" name="rowtoggle" class="action-rowtoggle">     
            </th>
            <th class="icon-col">
            <a class="icon" id="mass-delete">
                <span class="glyphicon glyphicon-trash"></span>
            </a>
            </th>
            <th class="title-col">
                <h4>Title</h4>
            </th>
            <th class="uname-col">
                <h4>Author</h4>
            </th>
        </tr>
    </thead>
    {% for post in posts %}
    {{ brief_row(post) }}
    {% endfor %}
</table>
<script>
    // returns a partially filled post object from the selected icon
    function getPost(icon) {
        var tds = icon.parents('tr').find('td');
        var post = {
                title: $(tds[2]).find('a').text().trim(),
                author: $(tds[3]).text().trim(),
                id: $(tds[0]).find(':checkbox').val()
            };
        return post
    }

    function deletePost(post, icon) {
        var del_url = "/api/delete/" + post.id;
        // Sends the delete request to the api  
        $.ajax({
            type: "DELETE",
            url: del_url,
            success: function(){ icon.parents('tr').remove() },
            dataType: "json",
            contentType: "application/json"
        });   
    }

    // Group level functions
    $('#group-cb').click(function(){
       $('tbody :checkbox').prop('checked', $(this).prop('checked'));
    });

    // MASS DELETE
    $('#mass-delete').click(function(){
        var boxes = $('tbody :checkbox:checked');
        if (window.confirm("You are about to delete: " + boxes.length + " posts. Are you really sure?")) {
            boxes.each(function(){
                var icon = $(this);
                var post = getPost(icon);
                deletePost(post, icon);
            });
        }
    });

    // individual element listeners
    // SINGLE DELETE
    $('.icon-container > .trash').click(function(){
        var icon = $(this)
        var post = getPost(icon);
        if (window.confirm("Do you really want to delete: " + post.title)) {
            deletePost(post, icon);
        }
    });


    // attaches to table elements for functionality
    $('#new-post-btn').click(function(){
        var payload = {
            body: "",
            title: (new Date()).toString(),
            _csrf_token: $('#csrf').val()
        }

        function success(d, tS, jqXhr) {
            console.log(d)
            // TODO change url structure
            var url = "/edit/" + d.id + '/';
            console.log(url);
            window.location.href = url;
        };

        $.ajax({
            type: "POST",
            url: "{{ url_for('api.create_post') }}",
            data: JSON.stringify(payload),
            success: success,
            dataType: "json",
            contentType: "application/json"
        });
    });

</script>
{% endblock main %}
